name: Deploy Frontend to Vercel

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'frontend/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{secrets.VERCEL_TOKEN}}
        working-directory: ./frontend

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{secrets.VERCEL_TOKEN}}
        working-directory: ./frontend
        env:
          VITE_API_URL: ${{secrets.VITE_API_URL}}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{secrets.VERCEL_TOKEN}}
        working-directory: ./frontend